<!DOCTYPE html>
<html>
<head>
    <title>Ajout d'un film :) !</title>
</head>
<body>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Ajouter !</button>
{{ form_end(form) }}

</body>
</html>